@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply font-['Poppins'];
}


@keyframes flipOrder1{
  0%{
    left: 0px;
  }
  100%{
    left: 350px;
  }
}

@keyframes flipOrder2{
  0%{
    right: 0px;
  }
  100%{
    right: 350px;
  }
}

#flipOrder1{
  animation: flipOrder1 .5s ease-in-out .1s forwards;
}
#flipOrder2{
  animation: flipOrder2 .5s ease-in-out .1s forwards;
}

#onHoverShiny:hover #onHoverShinyEl{
  @apply left-[100%];
}

.jiggle-elem:hover{
  animation: jiggle .6s linear infinite
}

@keyframes jiggle{
  0%{
    transform: translate(0px, 0px);
  }
  50%{
    transform: translate(5px, 0px);
  }
  100%{
    transform: translate(0px, 0px);
  }
}


